# 仮想環境
venv/
venv-test/
.env
pytest.ini

# Pythonキャッシュ系
__pycache__/
*.pyc
*.pyo

#pytestキャッシュ系
.pytest_cache

# Jupyter
.ipynb_checkpoints/

# ログ・出力系
*.log

# ローカルデータ（Gitに入れない前提）
data/

# VSCode系（必要なら）
.vscode/
settings.json
analyzer.code-workspace
